<div class="mask" [ngClass]="[animate ? 'mask mask--minimize' : 'mask']">
  <!--[@divState]="state" -->
  <div class="paragraph paragraph__wrapper">
    <div class="paragraph paragraph__controller" (click)="onAnimate()">
      <i ng-class="icon" class="icon icon--light icon--maximize"></i>
    </div>
    <div class="paragraph__content paragraph__content" [ngClass]="[animate ? 'paragraph__content paragraph__content--disable' : 'paragraph__content']">
      <h2 class="paragraph paragraph__title">{{user}}</h2>
      <blockquote class="paragraph paragraph__blockquote">{{server}}</blockquote>
    </div>
  </div>
</div>
<!--mask--minimize-->
