/* ------------------------------------------------ 
					icons
 ------------------------------------------------ */
.icon {
	font-size: 23px;

	&--light {
		color: #fff;
	}
}


.icon--videos:before {
	content: "\e604";
}

.icon--pictures:before {
	content: "\e605";
}

.icon--facebook:before {
	content: "\e600";
}

.icon--instagram:before {
	content: "\e601";
}

.icon--youtube:before {
	content: "\e602";
}

.icon--cross:before {
	content: "\e117";
}

.icon--hamburger:before {
	content: "\e120";
}

.icon--check:before {
	content: "\f03a";
}

.icon--chevron-down:before {
	content: "\f0a3";
}

.icon--chevron-left:before {
	content: "\f0a4";
}

.icon--chevron-right:before {
	content: "\f078";
}

.icon--chevron-up:before {
	content: "\f0a2";
}

.icon--eye:before {
	content: "\f04e";
}

.icon--heart:before {
	content: "\2665";
}


.icon--eye:before {
	content: "\e000";
}
.icon--ribbon:before {
	content: "\e009";
}
.icon--image:before {
	content: "\e010";
}
.icon--camera:before {
	content: "\e017";
}
.icon--video:before {
	content: "\e018";
}
.icon--monitor:before {
	content: "\e021";
}
.icon--heart:before {
	content: "\e024";
}
.icon--maximize:before {
	content: "\e112";
}
.icon--minimize:before {
	content: "\e113";
}
.icon--cross-light:before {
	content: "\e118";
}

.icon--zoom:before {
    content: "\e608";
}

.icon--play:before {
    content: "\e609";
}