@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?66nxtn');
	src:url('fonts/icomoon.eot?66nxtn#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?66nxtn') format('truetype'),
		url('fonts/icomoon.woff?66nxtn') format('woff'),
		url('fonts/icomoon.svg?66nxtn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-E2665:before {
	content: "\2665";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-video:before {
	content: "\e011";
}
.icon-search:before {
	content: "\e036";
}
.icon-maximize:before {
	content: "\e112";
}
.icon-minimize:before {
	content: "\e113";
}
.icon-E117:before {
	content: "\e117";
}
.icon-cross:before {
	content: "\e118";
}
.icon-E120:before {
	content: "\e120";
}
.icon-E600:before {
	content: "\e600";
}
.icon-E601:before {
	content: "\e601";
}
.icon-E602:before {
	content: "\e602";
}
.icon-E603:before {
	content: "\e603";
}
.icon-E604:before {
	content: "\e604";
}
.icon-E605:before {
	content: "\e605";
}
.icon-E606:before {
	content: "\e606";
}
.icon-E607:before {
	content: "\e607";
}
.icon-zoom:before {
	content: "\e608";
}
.icon-play:before {
	content: "\e609";
}
.icon-F03A:before {
	content: "\f03a";
}
.icon-F04E:before {
	content: "\f04e";
}
.icon-F078:before {
	content: "\f078";
}
.icon-F0A2:before {
	content: "\f0a2";
}
.icon-F0A3:before {
	content: "\f0a3";
}
.icon-F0A4:before {
	content: "\f0a4";
}

