<nav class="menu--xs">
  <a (click)="buttonHamburger()"><i class="icon icon--hamburger"></i></a>
  <div class=".logo logo--xs"></div>
</nav>
<nav id="nav">
  <div class="logo"></div>
  <ul class="menu" id="menu">
    <li class="menu__item" name="item_Cover">
      <a class="menu__link " data-colors="Cover" (click)="onClick('cover')" routerLinkActive="menu__link--active">Cover {{ categoryCoverAcivated ? '(activated)' : 'nu e activat'}}</a>
    </li>
    <li class="menu__item" name="item_Editorial">
      <a class="menu__link " data-colors="Editorial" (click)="onClick('editorial')" routerLinkActive=" menu__link--active ">Editorial</a>
    </li>
    <li class="menu__item " name="item_Video ">
      <a class="menu__link " data-colors="Video " (click)="onClick('video')" routerLinkActive="menu__link--active ">Video</a>
    </li>
    <li class="menu__item " name="item_Bridal ">
      <a class="menu__link menu__link--active " data-colors="Bridal " routerLink="/Bridal " routerLinkActive="menu__link--active ">Bridal</a>
    </li>
    <li class="menu__item " name="item_Print ">
      <a class="menu__link " data-colors="Print " routerLink="/Print " routerLinkActive="menu__link--active ">Print</a>
    </li>
    <li class="menu__item " name="item_Backstage ">
      <a class="menu__link " data-colors="Backstage " routerLink="/Backstage " routerLinkActive="menu__link--active ">Backstage</a>
      <ul class="menu__sub ">
        <li class="menu__sub-item ">
          <a class="menu__link menu__link--secondary " data-colors="MakingOff " routerLink="/MakingOff " routerLinkActive="menu__link--active ">Making off</a>
        </li>
        <li class="menu__sub-item ">
          <a class="menu__link menu__link--secondary " data-colors="Caracters " routerLink="/Caracters " routerLinkActive="menu__link--active ">Characters</a>
        </li>
      </ul>
    </li>
    <li class="menu__item " name="item_Contact ">
      <a class="menu__link " data-colors="Contact " routerLink="/Contact " routerLinkActive="menu__link--active ">Contact</a>
    </li>
  </ul>
  <ng-content></ng-content>
  <div class="social-icon ">
    <a class="social-icon__link " href=" "><i class="icon icon--facebook "></i></a>
    <a class="social-icon__link " href=" "><i class="icon icon--youtube "></i></a>
    <a class="social-icon__link " href=" "><i class="icon icon--instagram "></i></a>
  </div>
  <div class="ornament-line "></div>
</nav>
